@font-face{
    font-family: Glegoo-Bold;
    src : url(fonts/Glegoo-Bold.ttf)
}
@font-face{
    font-family: Glegoo-Regular;
    src : url(fonts/Glegoo-Regular.ttf)
}

body{
    margin:0;
    padding:0;
    background: url(img/background.jpg);
    background-size: cover;
    font-family : Glegoo-Bold;
}
.header
{
    position:absolute;
    display:flex;
    flex-direction:row;
    background-color:black;
    opacity:0.8;
    width:100%;
    left:0;
    right:0;
    top:0;
    padding:2px 0px;
    color:antiquewhite; 
    height:40px;
}
#header-title{
    display:flex;
    align-items:center;
    margin-right:auto;
    margin-left:auto;
}
#header-right
{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-right:0;
    
}
#icon{
    filter: opacity(0.8) drop-shadow(0 0 0 #f0f8ff);
    color:#f0f8ff;
    width:20px;
    margin-right:5px;
}
.header-actions{
    display:flex;
    flex-direction:row;
    padding-top:0;
    padding-bottom:0;
    margin:0;
    padding-right:20px;
    padding-left:5px;
    border-left-style:solid;
    border-width:3px;
    border-color:aliceblue;
    border-left-color:aliceblue;
}
#second-action{
    
}
.main-container
{
    display:flex;
    flex-direction:row;
    margin-top:44px;
    
}

.left-container
{   
    background-color: white;
    min-height:calc(100vh - 44px);
    width:40%;
    min-width:323px;
    border-right-style:solid;
    border-width:2px;
    border-color:black;
    opacity:0.95;
}
#signup-form{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    padding:40px 20px;
}
#signup-container{
    display:flex;
    flex-wrap:wrap;
    margin-top:190px;
    border:1px solid;
    border-radius:3px;
    box-shadow: 3px 3px 3px;
    margin-right:20px;
    margin-left:20px;
}

label{
    padding:0;
    margin-bottom:0;
    font-size:12px;
}
input{
    height:20px;
    width:180px;
}
input,label
{
    float:left;
    margin:auto 15px 0px 15px;
}
.form-container{
    padding:4px;
    width: 250px;
    margin-left:auto;
    margin-right:auto;
    justify-content:center;
}
.form-container:not(:first-child){
    margin-top:5px;
}
.right-container
{
    display:flex;
    flex-direction:row;
    width:60%;
    margin-top:280px;
}
#sellout-text{
    font-size:2rem;
    text-align:center;
    margin-top:70px;
    align-items:center;
}
#king-header-left
{
    position:absolute;
    background-color:black;
    flex-direction:row;
    opacity: 0.9;
    height:80px;
    width:40%;
    min-width:323px;
    margin-top:93px;
}
#king-header-right
{
    background-color:black;
    opacity: 0.7;
    flex-direction:row;
    height:80px;
    width:80%;
}

#mask{
    width:0;
    height:0;
    border-bottom: 80px solid black;
    border-right: 80px solid transparent;
    opacity: 0.7;
}